*{
  margin: 0px;
  padding: 0px;
}

:root {
  background-color: #332843;
  color: #ffffff;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

form {
  border-radius: 20px;
  border: 1px solid;
  padding: 15px;
  box-shadow: 0px 0px 10px 0px #ffffff;
  background-color: #120f1b;
}


h1 {
  text-align: center;
}

fieldset {
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 10px;
  padding: 10px;
  background-color: #120f1b;
  color: #ffffff;
  box-shadow: 0px 0px 5px 0px #ffffff;
}

button{
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  color: #130e0c;
  background-color:#ffffff;
  box-shadow: 0px 0px 5px 0px #ffffff;
}

button:hover{
  background-color: #130e0c;
  cursor: pointer;
  color: #ffffff;
}

p{
  color: #ffffff;
  padding: 10px;
  padding-left: 20px;
}

a{
  text-decoration: none;
  color:  #ffffff;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  width: 200px;
  height: 20px;
}

a:hover{
  color:#e2c9ff;
}

.landing{
  height: 400px;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

img{
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 10px 0px #ffffff;
}

.logo:hover{
  box-shadow: 0px 0px 10px 0px #e2c9ff;
}

.p{
  padding-left: 50px;
  padding-bottom: 0px;
  text-align: center;
}

ul{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

.li{
  margin: 0px;
  width: 300px;
}

.logo{
  width: 30px;
  box-shadow: 0px 0px 15px 0px #ffffff;
  border-radius: 100px;
  padding: 0px;
  margin: 0px;
}

li{
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px;
}

body{
  margin: 0px;
  padding: 0px;
}

.image{
  width: 100%;
  height: 30%;
  margin: 0px;
  padding: 0px;
}

.contenedor1{
  columns: 2;
  padding-top: 90px;
  margin-right: 60px;
}

span{
  display: flex;
  align-items: center;
}

.nav{
  background-color: #221e33;
  padding: 5px;
  margin: 0px;
  position: fixed;
  z-index: 100;
  width: 100%;
}

img{
  display: flex;
  justify-content: center;
}

.icon{
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  padding: 2px;
  margin: 0px;
  margin-left: 10px;
}


footer{
  background-color: #130e0c;
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.liF{
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  width: 200px;
}
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  padding-right: 40px;  /* Da espacio al botón */
}

.toggle-password {
  position: absolute;
  left: 90px; /* Ubica el botón en la parte derecha */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #332843;
}

.toggle-password:hover {
  text-decoration: underline;
}

.divF{
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 0px;
}

.h3f{
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 2px 5px 2px 2px #e2c9ff;
  border-radius: 50%;
  padding-left: 2px;
  padding-right: 2px;
} 

h3{
  padding: 0px;
  font-size: 17px;
  margin-left: 30px;
  margin: 0px;
}

main{
  padding-top: 100px;
}

.userInfo, li{
  padding: 0px;
  margin: 0px;
  padding-left: 100px;
  width: 100px;
  align-items: center;
}

.botonL{
margin: 0px;
padding: 0px;
}

.ulL{
  padding: 20px;
  margin: 0px;
}

.num{
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.newB{
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
  font-size: 30px;
  background-color: #120f1b;
}

/* Contenedor flex para centrar */
.newB-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Si el contenedor tiene altura, asegúrate de que se centre verticalmente */
}

h2.newB {
  text-align: center; /* Centra el texto dentro de h2 */
  margin: 0;
  font-size: 24px;
  background-color: #332843;
}


.input, .textarea{
  display: flex;
  justify-content: center;
  padding: 15px 2px 15px 2px;
  margin: 10px;
  resize: none;
  resize: none;
  border-radius: 10px;
  width: 200px;
  color: #ffffff;
  background-color: #120f1b;
  box-shadow: 0px 0px 5px 0px #ffffff;
}

.publicar{
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  margin-left: 145px;
}

.mainB{
  display: inline;
  margin: 0px;
  padding: 0px;
}

.blog{
  box-shadow: 0px 0px 10px 0px #ffffff;
  border-radius: 20px;
  margin: 20px 400px 20px 400px;
  padding: 50px;
  background-color: #120f1b;
}

h4, h5, small{
  padding: 10px;
  padding-left: 20px;
}

.welcome{
  margin-left: 300px;
  margin-right: 420px;
}

.buttonnav{
  padding: 10px;
  margin: 0px;
}

.imgblog{
  width: 90%;
  height: 100%;
}

.divB{
  margin: 0px 400px 0px 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 15px;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #ffffff;
}

.action{
  cursor: pointer;
  margin-left: 320px;
}


.blogs{
  padding: 0px 30px 0px 30px;
  margin: 0px;
  width: 80%;
}

.divP {
  margin: 0px 400px 0px 400px;
  padding: 20px;
  margin-top: 20px;
  font-size: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #ffffff;
  
  /* Eliminamos display: flex y usaremos block por defecto */
  display: block;
  /* Aseguramos que los hijos se alineen verticalmente */
  text-align: center; /* Para centrar el texto dentro de cada div si es necesario */
}

.formP {
  margin: 20px 400px 0px 400px;  /* Márgenes para centrar el contenedor */
  padding: 40px;
  display: flex;
  flex-direction: column;  /* Asegura que los elementos se apilen verticalmente */
  justify-content: center;  /* Centra los elementos dentro del contenedor */
  align-items: center;  /* Centra los elementos horizontalmente dentro del contenedor */
}


@media (max-width: 1233px) {
  form{
    padding: 20px;
    margin: 0px 10px;
  } 
  .formP {
    padding: 20px;
    margin: 0px 10px;
    margin-top: 50px;
  }

  .divP {
    margin: 0px 10px;
  }

  .nav {
    padding: 10px;
  }

  .input, .textarea {
    width: 100%;
  }

  .blog {
    margin: 10px;
    margin-top: 50px;
    padding: 20px;
  }
  .contenedor1 {
    margin-right: 10px;
  }
  ul {
    padding: 10px; /* Ajustar padding para pantallas más pequeñas */
    margin-bottom: 5px; /* Reducir margen inferior */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    align-items: center; /* Alinear los items al centro */
  }
  .ulL {
    padding: 5px; /* Ajustar el padding para pantallas más pequeñas */
    margin: 0px;
  }
  .li {
    width: 100%;  /* Hacer que los elementos de la lista ocupen el 100% del ancho disponible */
    margin: 0%; /* Reducir márgenes para evitar espacios innecesarios */
    padding: 0%;
  }

  li{
    margin: 2px;
    padding: 2px;
  }

  a{
    margin: 0px;
    padding: 0px;
  }

  .userInfo{
    margin: 2px;
    padding: 0px;
  }
  main{
    margin: 0px;
  }

  .welcome h3 {
    font-size: 14px;
  }
  h1 {
    margin-top: 20px;
    font-size: 2em; /* Reducir el tamaño del título en pantallas pequeñas */
  }

  .p {
    font-size: 1em; /* Reducir el tamaño del texto en pantallas pequeñas */
  }

  .contenedor1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }

  .divimg img {
    width: 90%; /* Ajustar la imagen para pantallas más pequeñas */
  }

  .image {
    margin-top: 15px;           /* Espacio superior */
    display: block;             /* Asegura que el elemento se comporte como un bloque */
    max-width: 80%;             /* Limita el ancho máximo a un 80% del contenedor */
    height: auto;               /* La altura se ajustará automáticamente para mantener la proporción */
    margin-left: auto;          /* Centra la imagen en el contenedor */
    margin-right: auto;         /* Centra la imagen en el contenedor */
  }
  
  
}
