*{
  margin: 0px;
  padding: 0px;
}

:root {
  /*color-scheme: dark;*/
  background-color: #332843;
  color: #76508c;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

form {
  border-radius: 20px;
  border: 1px solid;
  padding: 15px;
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
}

h1 {
  text-align: center;
}

fieldset {
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 10px;
  padding: 10px;
}

button{
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
}

button:hover{
  background-color: #222;
  cursor: pointer;
}

p{
  color: #f9f9f9ac;
  padding: 10px;
  padding-left: 20px;
}

a{
  text-decoration: none;
  color:  rgba(255,255,255,1);
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  width: 200px;
  height: 20px;
}

a:hover{
  color: #f4f4f467;
}

.results{
  padding: 30px;
  margin: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 50px 0;
  font-size: 16px;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

thead {
  background-color: #f4f4f4;
}

th {
  background-color: #222;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f948;
}

tr:hover {
  background-color: #f9f9f948;
}

.landing{
  height: 400px;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

img{
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
}

.logo:hover{
  box-shadow: 0px 0px 10px 0px rgb(13, 13, 13);
}

.p{
  padding-left: 50px;
  padding-bottom: 0px;
  text-align: center;
}

ul{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.logo{
  width: 30px;
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
  border-radius: 100px;
  padding: 3px;
  margin: 3px;
}

li{
  padding: 0px;
  text-decoration:overline;
  display: flex;
  justify-content: center;
  text-transform:uppercase;
  text-decoration-color:#f4f4f448;
  text-align: center;
  margin: 0px;
}

.li{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

body{
  margin: 0px;
  padding: 0px;
}

.image{
  width: 100%;
  height: 30%;
  margin: 0px;
  padding: 0px;
}

.contenedor1{
  columns: 2;
  padding-top: 90px;
  margin-right: 50px;
}

span{
  display: flex;
  align-items: center;
}

.nav{
  background-color: #1e1725;
  padding: 5px;
  margin: 0px;
  position: fixed;
  z-index: 100;
  width: 100%;
}

img{
  display: flex;
  justify-content: center;
}

.icon{
  width: 70px;
  height: 70px;
  margin: 0px;
  padding: 10px;
  background-color: #f4f4f4;
  margin-left: 265px;
}

.icon1{
  width: 70px;
  height: 70px;
  margin: 0px;
  padding: 10px;
  background-color: #f4f4f4;
  margin-left: 160px;
}

.p-footer{
  text-align: center;
  margin-bottom: 50px;
}

footer{
  background-color: #130e0c;
}

h3{
  padding: 50px;
  text-decoration:overline;
  text-align: center;
  text-transform:uppercase;
  text-decoration-color:#f4f4f448;
  font-size: 40px;
  margin: 100px;
}

.footer-items{
  display: flexbox;
  columns: 2;
  margin-top: 10px;
}

.footer-items1{
  display: flexbox;
  columns: 3;
  margin-top: 10px;
}

main{
  padding-top: 80px;
}

.newBlog{
  margin: 0px 400px 0px 400px;
  padding: 20px;
}

.num{
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.newB{
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
  font-size: 30px;
}

.input, .textarea{
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  margin-left: 70px;
  resize: none;
  resize: none;
  border-radius: 10px;
  width: 200px;
}

.publicar{
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  margin-left: 145px;
}

.mainB{
  display: inline;
  margin: 0px;
  padding: 0px;
}

.blog{
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
  border-radius: 20px;
  margin: 20px 400px 20px 400px;
  padding: 50px;
}

h4, small{
  padding: 10px;
  padding-left: 20px;
}

.welcome{
  margin-left: 300px;
  margin-right: 420px;
}

.buttonnav{
  padding: 10px;
  margin: 0px;
}

.imgblog{
  width: 90%;
  height: 100%;
}

.divB{
  margin: 0px 400px 0px 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
}

.blogs{
  padding: 0px 30px 0px 30px;
  margin: 0px;
  width: 80%;
}